.kittens {
  list-style-type: none;
  padding: 0;

  li {
    border-radius: 20px;
    float: left;
    margin-bottom: 2em;
    text-align: center;
    width: 300px;

    &:hover {
      -webkit-transform: $scale-amount;
      -moz-transform: $scale-amount;
      -o-transform: $scale-amount;
      -ms-transform: $scale-amount;
      transform: $scale-amount;
    }
  }

  img {
    border: $border-width solid $white;
    border-radius: $border-radius;
  }

  label { font-weight: bold; }
}
